.sectionSize {
    width: 50rem;
    height: auto;
}
.sectionSize div {
    width: 95%;
    height: auto;
}
.sectionSizeFactura {
    width: 30rem;
    height: auto;
}
.cardSize {
    width: 80%;
    height: 30rem;
}
.imgSize {
    width: 12rem;
    height: 11rem;
}