.cardSize {
    width: 24rem;
    height: auto;
    padding: .8rem;
}
.cardSize:hover {
    transform: scale(1.02);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.category:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}
.category {
    max-width: 150px;
    height: 160px;
}
.categorySection{
    background-color: lightgray;
    height: 7.8rem;
}
.imgSize {
    width: 150px;
    height: 150px;
}