.gradient {
    background: linear-gradient(90deg, #FFFFFF, #211EED);
}
.gradientX {
    background: linear-gradient(90deg, #211EED, #FFFFFF);
}
.sizeCard {
    max-width: 250px;
    height: 200px;
}
.category {
    max-width: 150px;
    height: 160px;
}
.categorySection{
    background-color: lightgray;
    height: 7.8rem;
}
.sizeCard:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}
.category:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}
.size {
    width: 100%;
}
.copy {
    color: lightgray;
}