.sectionSize {
    width: 50rem;
    height: auto;
}
.sectionSizeFactura {
    width: 30rem;
    height: auto;
}
.cardSize {
    width: 80% !important;
    height: 30rem;
}
.imgSize {
    width: 12rem;
    height: 11rem;
}