@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionSizeContact {
        width: 100%;
        height: 100%;
    }
    .sectionSizeMap {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }
    #contactoColapsar {
        width: 100%;
    }
}