.category img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .categorySection {
        padding: 2rem 1rem;
    }
}
@media (max-width: 768px) {
    footer .row {
        text-align: center;
    }

    footer .navbar-nav {
        justify-content: center;
    }
}